#outside {
  z-index: 1;
  position: absolute;
  background-color: red;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: 1s;
  transform-origin: 0;
}

.open-card {
  transform: rotateY(90deg);
}

#outside-title {
  color: white;
  font-family: verdana;
  font-size: 24pt;
  text-align: center;
}

#inside {
  z-index: 0;
  position: absolute;
  background-color: white;
  width: 100%;
  height: 100%;
  text-align: center;
}

#inside-title {
  color: black;
  font-family: Courier;
  font-size: 12pt;
  text-align: center;
}

img {
  width: 275px;
  height: 275px;
  object-fit: cover;
  border-radius: 8px;
}